.resumemargin{
  margin: 3% 25%;
}
#name{
  text-align: center;
  font-size: 40px;
  margin-bottom: 0px;
}
#address{
  text-align: center;
  margin-top: 10px;
}
a{
  text-decoration: none;
  color: #000000;
}
#company{
  margin-bottom: 0px;
}
#abstract{
  text-align: center;
  font-size: large;
}
#jobrole{
  margin-top: 3px;
  margin-bottom: 0px;
}
#education , #course{
  margin-bottom: 0px;
}
#educationlist, #courselist{
  margin-top: 10px;
  margin-bottom: 0px;
}
ul{
  margin-top:10px ;
}
#declaration{
  font-size: large;
}
